.skills-container {
    width: 40%;
    margin: 0 auto 50px auto;
    text-align: center;
}

.skills-container article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.skills-container article div {
    font-size: 0.8rem;
    padding: 0.5rem 0.7rem;
    background-color: #2a2f4c;
    color: #90a0d9;
}