:root {
    -colorq: #23283e;
    -colorw: #2a2f4c;
    -colore: #bdbddd;
    -colorr: #cdcdff;
    -colort: #90a0d9;
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("./assets/font/Poppins-Bold.ttf");
}
@font-face {
    font-family: "Poppins-Medium";
    src: url("./assets/font/Poppins-Medium.ttf");
}
@font-face {
    font-family: "Poppins-Regular";
    src: url("./assets/font/Poppins-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 4rem;
    font-family: "Poppins-Regular";
    background-color: #23283e;
}

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}


button {
    padding: 0.5rem 0.7rem;
    background-color: #23283e;
    color: #90a0d9;
    border: 1px solid #90a0d9;
    cursor: pointer;
}

button:hover {
    background-color: #2a2f4c;
}

h1, h2, h3 {
    font-weight: bold;
    color: #bdbddd;
    font-family: "Poppins-Bold";
}

h1 span {
    color: #90a0d9;
}

section, section article div, footer, footer article {
    display: flex;
    flex-direction: column;
    align-items: center;
}